<div class="row heading custom-row">
    <h4>SMS</h4>
  </div>
  <div class="row custom-row">
    <div class="col-sm-5 margin-top-10 input_row ">
      <textarea class="form-control margin-top-10" ng-model="smsDesc" rows="6" cols="30" placeholder="Enter 250 characters"></textarea>
      <div class="settings margin-top-10">
        <div class="basic">
          <span class="heading" id="sms_basic_settings"><i class="fa fa-gear"></i> Basic Settings</span>
          <div class="basic_setting_options" id="sms_basic">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-4 control-label">Send Date</label>
                <div class="col-sm-8">
                  <input id="meeting" class="form-control input-sm" type="date" value="2014-09-16"/>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-sm-4 control-label">Send Time</label>
                <div class="col-sm-8">
                  <input type="time" name="usr_time" class="form-control input-sm" value="00:00:00" />
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 margin-top-10">
      
    </div>
    <div class="col-sm-1 margin-top-10">
      <div class="quality_check">
        <div class="btn btn-sm btn-danger qc_btn" ng-click="addqc('sms')">Approve Content</div>
        <div class="qc" ng-repeat="qc in qcSms">
          <div class="row">
            <div class="col-sm-9">
              <input type="text" 
              ng-model="qc.doneBy" 
              class="form-control input-sm" 
              ng-disabled="qc.done">
            </div>
              <div class="right_btn" ng-click="qcDone($index,'sms')"
              ng-hide="qc.done">
                <img src="./images/tick.png" />
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row custom-row">
    <div class="pull-right save_skip save_skip_sms">
      <div class="btn btn-sm btn-default" ng-click="skip('sms',$index)">SKIP</div>
      <div class="btn btn-sm btn-primary" ng-click="saved('sms',$index)">SAVE &amp; CONTINUE</div>
    </div>
  </div>